# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
.venv/

# Environment
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# ChromaDB
chroma_data/

# Uploads
uploads/

# Node
node_modules/
*.local

# Vite
.vite/
frontend/dist/


# OS
.DS_Store
Thumbs.db
/CLAUDE.md
